@model TextAnalyzer.Web.Models.TextAnalysisModel

<div>
    @using (Html.BeginForm("setp", "home"))
    {
        <div>
            <textarea type="text" name="Text" id="scroll-box"></textarea>
            <button type="button">Analyze Text</button>
        </div>
    }

    <hr>

    <ul>
        <li>Total Word Count: @Html.DisplayFor(model => model.TotalWordCount)</li>
        <li>Total Unique Words: @Html.DisplayFor(model => model.UniqueWordCount)</li>
    </ul>

    <table>
        <tr>
            <th>Word</th>
            <th>Occurrences</th>
        </tr>

        @for (int i = 0; i < (int)ViewData["UniqueWordCount"]; i++)
        {
            <tr>
                <td>@Html.DisplayFor(model => model.UniqueWordCounts[i].Word)</td>
                <td>@Html.DisplayFor(model => model.UniqueWordCounts[i].Count)</td>
            </tr>
        }
    </table>
</div>
